<ion-tabs>
    <ion-tab-bar slot="bottom" class="ion-padding-horizontal">

        <ion-tab-button tab="client">
            <span class="material-icons size-32"> groups </span>
            <ion-label class="size-16">Clientes</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="home">
            <span class="material-icons size-32"> storefront </span>
            <ion-label class="size-16">Productos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="bill">
            <span class="material-icons size-32"> receipt_long </span>
            <ion-label class="size-16">Facturas</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="account">
            <span class="material-icons size-32"> credit_score </span>
            <ion-label class="size-16">Cuentas</ion-label>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>