<ion-tabs>
    <ion-tab-bar slot="bottom" class="ion-padding-horizontal">

        <ion-tab-button tab="Shopping">
            <span class="material-icons size-32"> shopping_bag </span>
            <ion-label class="size-16">Carrito</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="home">
            <span class="material-icons size-32"> storefront </span>
            <ion-label class="size-16">Tienda</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <span class="material-icons size-32"> account_circle </span>
            <ion-label class="size-16">Cuenta</ion-label>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>